* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 64.5%;
}

#title {
    margin-top: 10%;
    text-align: center;
    font-size: 10rem;
    position: relative;
}

.dice {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dice2 {
    height: 15rem;
    width: 15rem;
    font-size: 10rem;
    text-align: center;
    color: white;
    margin: auto;
    padding: 2rem;
}

.player1 {
    background-color: black;
    display: inline-block;
}

.player2 {
    background-color: coral;
    display: inline-block;
}

@media (max-width: 400px) {
    html {
        font-size: 30%;
    }
}